@import "../../config.scss";

.CreatingMeme {
    position: relative;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 7rem;
        margin: 3rem;
        border-radius: 1rem;
        @include mobile {
            padding: 0.5rem 2rem;
        }
        div {
            max-width: 400px;
            max-height: 400px;
            background-color: white;
            margin: 2rem 0;
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            margin-bottom: 2rem;
        }
        span {
            font-weight: 600;
            font-family: $roboto;
            margin-bottom: 2rem;
            font-size: 28px;
        }
        input[type="text"] {
            max-width: 300px;
            border: 2px solid $primary;
            margin-bottom: 1rem;
            border-radius: 6px;
            padding: 12px;
            outline: none;
            font-family: $roboto;

            &::placeholder {
                font-family: $roboto;

                opacity: 0.6;
            }
            outline: none;
            font-size: 16px;
            width: 100%;
        }
    }
}
