@import '../config.scss';

.GeneratedMeme {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__image {
        img {
            height: 400px;
        }
    }

    span {
        font-size: 48px;
        margin: 2rem;
        font-family: $kreon;
    }

    &__buttons {
        display: flex;
        margin-top: 2rem;
        button {
            margin: 1rem;
        }
        button:first-child{
            background-color: $third;
        }
    }
}
