.memes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mem{
    background-color: whitesmoke;
    border-radius: 32px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.mem img{
    height: 300px;
}