@import "../config.scss";

.meme {
    max-width: 360px;

    transition: 0.2s all ease;
    &:hover {
        transform: scale(1.02);
    }

    &__imgBox {
        border-radius: 1rem 1rem 0 0;
        background-color: white;
        height: 300px;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    &__textBox {
        border-radius: 0 0 1rem 1rem;
        font-family: $koulen;
        background-color: $primary;
        color: white;
        text-align: center;
        font-size: 22px;
        padding: 8px;
    }
    margin: 2rem;
}
