// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

// colors

$primary: #193498;


// fonts
$roboto: 'Roboto', sans-serif;
$koulen: 'Koulen', cursive;